a{
    color: #15416e
}
#header.upscrolled #mainnav > ul > li > a:hover{
    color: #18ba60;
}
#header.upscrolled #mainnav > ul > li > a{
    color: #174c81;
}
#mainnav > ul > li > a:hover{
    color: #18ba60;
}
.top{
    background-color: #15416e;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    padding: 9px 0;
}
#mainnav > ul > li > a{
    color: #174c81;
}
a:hover, a:focus{
    color: #18ba60;
}
#mainnav > ul > li > a:hover{
    color: #18ba60;
}
h1, h2, h3, h4, h5, h6{
    color: #2f4862;
}
input[type="submit"], button[type="submit"], input[type="submit"].scheme2:hover, button[type="submit"].scheme2:hover, .button, .button.scheme2:hover{
    background-color:#18ba60;
}
input[type="submit"]:hover, button[type="submit"]:hover, input[type="submit"].scheme2, button[type="submit"].scheme2, input[type="submit"].lg:hover, button[type="submit"].lg:hover, .button:hover, .button.scheme2, .button.lg:hover{
    background-color: #15416e;
}
.flat-title-button .title i{
    color: #18ba60;
}

a.link{
    color: #18ba60;
}
a.link:hover{
    color: #15416e;
}
.imagebox .box-header:after{
    background-color: #15416e;
}
.imagebox .box-header:before{
    background-color: #18ba60;
}
.button.style1:hover{
    color: #15416e;
}

body{
    color: #2f4862;
}
.imagebox .box-content:after{
    background-color: #15416e;
}
.page-title .breadcrumbs ul.trail-items li a{
    color: #15416e;
}
.iconbox .box-header .box-icon i{
    background-color: #15416e;
}
.iconbox:hover .box-header .box-icon i{
    background-color: #18ba60 ;
}
.page-title .breadcrumbs ul.trail-items li a:hover{
    color: #18ba60;
}
.page-title .breadcrumbs ul.trail-items li{
    color: #15416e;
}
.ui-paging-container li.focus{
    background-color: #18ba60;!important;
}
.ui-paging-container li.ui-pager:hover{
    color: #18ba60;
}
.ui-paging-container li.ui-page-next:hover, .ui-paging-container li.ui-page-next:focus{
    color: #18ba60;
}
.footer{
    background-color: #15416e;
}
.go-top{
    background-color: #15416e;
}
.footer-widgets .widget.widget_nav_menu ul li:before{
    background-color: #18ba60;
}
.tparrows.preview4:after{
    background: #15416e;
}
.top .top-navigator > ul > li > ul li a{
    color: #15416e;
}
.top .top-navigator > ul > li > ul li a:hover{
    background-color: #15416e;
}
.top .top-navigator > ul > li > ul li a:before{
    background-color: #18ba60
}

